/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

body {
    font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

/* HEADER */
.jumbo {
    background-image: url(../img/jumbo.png);
    background-size: cover;
}

.header-section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    padding: 0 10px;
    /* DEBUG */
    /* background-color: #ADD8E6; */
}

.container{
    /* background-color: #DAA520 ; */
    display: flex;
    justify-content: space-between;
    padding: 10px;
    width: 80%;
    align-items: center;
    max-width: 1100px;
}

.logo{
    /* border: 1px black dashed; */
    width: 10%;
}

.action-header  a{
    width: 30px;
    height: 60px;
    background-color: white;
    padding: 5px;
    border-radius: 40px; 
    text-decoration: none;
    font-size: 0.8rem;
    padding: 10px;
}

.header-nav{
    /* border: 1px black dashed; */
   
    text-align: center;
}

.header-nav ul {
    display: flex;
    justify-content: center;
    gap: 25px;
    list-style-type: none;
}

.header-nav a {
    text-decoration: none;
    color: white
}
.action{
    /* border: 1px black dashed; */
    /* width: 25%; */
    text-align: right;
    display: inline-block;
}

/* HEADER BANNER */

.header-banner{
    /* background-color: #00008B; */
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content{
    /* background-color: #EE82EE; */
    width: 60%;
    height: 300px;
    /* border: 1px dashed black; */
}

.title{
    text-align: center;
    font-size: 3rem;
    color: white;
}

.subtitle {
    font-size: 1.3rem;
    text-align: center;
    color: white;
    margin-top: 40px;
}

.action-content {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    
}

.action-content .action a{
    margin-left: 20px;
    width: 30px;
    height: 60px;
    background-color: white;
    padding: 5px;
    border-radius: 40px;
    text-decoration: none;
    padding: 16px 32px;
}
.action-content .black a {
    background-color: #23272a;
    color: white;
}



/* MAIN */

.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 400px; */
    padding: 30px 0;
}

.squareblue{
    /* background-color: #1E90FF; */
    width: 35%;
    max-height: 400px;
    /* height: 350px; */
    /* border: 1px dashed black; */
}
.squarepink h2{
    font-size: 2.6rem;
}

.squarepink p{
    margin-top: 20px;
    line-height: 24px;
}

.squarepink{
    /* background-color: #FFC0CB; */
    width: 30%;
    /* height: 350px; */
    /* border: 1px dashed black; */
}

.main-container-middle{
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 400px; */
    background-color: #D3D3D3;
    flex-direction: row-reverse;
    padding: 30px 0;
}

.main-container-end{
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 600px; */
    background-color: #D3D3D3;
    flex-direction: row-reverse;
    padding: 40px 0;
}

.squaregreen{
    /* background-color: #228B22 */
    width: 80%;
    /* height: 500px; */
    /* border: 1px dashed black; */
    text-align: center;
}

.squaregreen h2{
    font-size: 2.6rem;
}

.squaregreen p{
    font-size:1.2rem ;
    margin-top: 20px;
}
.squaregreen .item4{
    padding-bottom: 30px;
}
.adventure h2{
    font-size: 1.7rem;
    margin-bottom: 50px;
}

.adventure a{
    margin-left: 20px;
    width: 30px;
    height: 60px;
    background-color: #7389da;
    padding: 5px;
    border-radius: 40px;
    text-decoration: none;
    padding: 16px 32px;
    color: white;
}
.star {
    background-image: url(../img/stars.svg);
    background-size: 100% 100%;
}



/* FOOTER */

.first-footer{
    background-color: #23272A;
    /* height: 450px; */
    display: flex;
    justify-content: center;
    flex: start;
    padding: 30px 0;
}

/* PRIMA COLONNA */
.coral-column{
    width: 250px;
    /* background-color: #F08080; */
    margin: 10px 0;

    /* border: 1px dashed black; */
}

.coral-column p{
    font-size: 2rem;
    color: #7389da;
    padding-bottom: 15px;
    padding-right: 30px;
}
.languages{
    height: 16px;
    display: flex;
}
.languages span{
    color: white;
    margin-left: 10px;
}

.socials{
    color: white;
}
.socials i{
    padding: 20px 5px;
}
/* SECONDA COLONNA */
.aqua-column{
    width: 150px;
    /* background-color: #20B2AA; */
    margin: 10px 0;
    /* border: 1px dashed white; */
    display: block;
    padding-left: 40px;
}
.aqua-column h3{
    color: #7389da ;
}

.aqua-column a{
    display: block;
    color: white;
    padding: 8px 0;
}
/* SECONDO FOOTER */
.second-footer{
    background-color: #23272A;
    height: 100px;
    display: flex;
    justify-content: center;
    /* border-top: 1px solid white ; */
    align-items: flex-end;
}

.footer-div{
    /* background-color: #7FFFD4 ; */
    width: 850px;
    height: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.border {
    border-top: 2px solid #7389da;
    margin-top: 30px;

}

.footer-button {
    padding: 5px;
    /* background-color: #F08080; */
    /* border: 1px dashed black; */
    margin-top: 15px;
}

.footer-button2 {
    height: 50px;
    background-color: #7389da;
    padding: 5px;
    border-radius: 40px;
    text-decoration: none;
    padding: 16px 32px;
    color: white;
}

